.head{
    background-color: rgb(168, 193, 215);
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.head p{
    margin-left: 100px;
}
.links{
    margin-top: 18px;
   margin-right: 250px;
}
.links a{
    margin-left: 30px;
    text-decoration: none;
}
.mainbody{
    height: 700px;
    background-color: rgb(147, 195, 205);
}
.footer{
    background-color: rgb(168, 193, 215);
    text-align: center;
}
.container{
    display: flex;
    height: 100vh;
}
.sec1{
    margin-top: 100px;
    width: 50%;
    padding: 20px;
}
.sec2{
    margin-top: 100px;
    width: 50%; 
    padding: 0px;
}
.sec2 img{
    border: 3px solid rgb(13, 84, 236);
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
.sec1 h4, h1, h2, p{
    color: rgb(5, 0, 0);
}